* {
  margin: 0;
  padding: 0;
  color: rgb(150, 148, 148);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(150, 148, 148);
}
.logo img {
  width: 150px;
  height: 100px;
}

body {
  background-color: rgb(58, 55, 55);
}
.pageLinks a {
  color: rgb(139, 58, 58);
}

.nav {
  display: flex;
  gap: 2em;
  font-size: 25px;
}

h1 {
  color: rgb(139, 58, 58);
  font-size: 60px;
}
h2 {
  display: flex;
  color: rgb(139, 58, 58);
  font-size: 60px;
  font-weight: bolder;
  justify-content: center;
}
.unseen {
  display: none;
}
.buttons {
  display: inline-block;
  justify-content: center;
  background-color: black;
  cursor: pointer;
  text-align: center;
  color: rgb(255, 245, 245);
  width: 100%;
  font-size: large;
  /* padding-left: 25%;
  padding-right: 23%; */
}

.reviews {
  border: 3px solid;
  margin: 10px 15px 15px 12px;
  justify-content: left;
}

span {
  font-size: larger;
  margin: 3px 10px 2px 0px;
  display: flex;
  color: rgb(180, 76, 76);
}

p {
  font-size: large;
  color: rgb(255, 245, 245);
}
